.quiz-mode-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.quiz-mode-bottom-buttons {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-top: 20px; 
}

.quiz-mode-left-buttons,
.quiz-mode-middle-buttons,
.quiz-mode-right-buttons {
  display: flex; 
}

.quiz-mode-prev-button,
.quiz-mode-next-button,
.quiz-mode-wrong-button,
.quiz-mode-unsure-button,
.quiz-mode-correct-button {
  margin: 0 10px; 
  cursor: pointer;
  transition: background-color 0.3s; 
}
  
.quiz-mode-prev-button:hover,
.quiz-mode-next-button:hover,
.quiz-mode-wrong-button:hover,
.quiz-mode-unsure-button:hover,
.quiz-mode-correct-button:hover {
  background-color: #333;
  color: #fff;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  height: 300px;
  width: 80%;
  overflow: visible;
  box-sizing: border-box;
  margin: 0 auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-sizing: border-box;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  box-sizing: border-box; 
  overflow: hidden;
  border: 4px solid #f1f1f1;
  flex-direction: column; 
}

.flip-card-front-hint {
  position: absolute;
  top: 10px;
  right: 10px; 
  cursor: pointer; 
  color: lightgrey;
  transition: color 0.3s; 
}

.flip-card-front-hint:hover {
  color: darkgrey; 
}

.flip-card-back {
  transform: rotateX(180deg);
}

.flip-card.flipped .flip-card-inner {
  transform: rotateX(180deg);
}

.flip-card-front-hint-hidden {
  position: absolute;
  transform: translateX(-50%);
  display: none;
}

.flip-card-front-hint:hover .flip-card-front-hint-hidden {
  display: block; 
}