.flashcards-select-scroll {
  max-height: 300px;
  overflow-y: scroll;
  flex-direction: column; 
}

.flashcards-select-scroll-item {
  display: flex;
  align-items: center;
}

.flashcards-select-scroll-item input {
  margin-right: 8px; 
}

.flashcards-select-scroll-item label {
  margin-bottom: 5px;
}

.label-clickable {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.label-clickable span {
  margin-right: 8px;
}

.toggle-icon {
  margin-top: 4px;
}

.css-9uim6b {
  padding-bottom: 0;
}
