.flashcard-creation {
  background-color: white;
  font-family: 'Arial', sans-serif;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 40px;
  position: relative;
  width: 100vw;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

.flashcard-title {
  margin-bottom: 10px;
}

.content-action-button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}