.global-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.global-page-headlines {
  display: flex;
  flex-direction: column;
}

.global-page-flash-icon {
  color: rgb(12, 102, 228);
  margin-right: 10px;
  width: 40px !important;
  height: 40px !important;
}

.global-page-headline {
  font-size: 36px;
  color: black;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.global-page-subheadline {
  font-size: 16px;
  color: darkgray;
  font-style: italic;
}

.global-page-search {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.global-page-search-box {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  padding: 5px 10px;
  width: 250px;
  background-color: white;
}

.global-page-search-box:focus-within {
  border-color: rgb(12, 102, 228); 
}

.global-page-search-icon {
  position: absolute;
  left: 10px;
  color: lightgray;
  font-size: 20px;
}

#search-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  color: grey;
  border: none;
  outline: none; 
  box-sizing: border-box;
  border-radius: 8px; 
  margin-left: 25px;
}

#search-input::placeholder {
  color: lightgray;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center modal */
  width: 90%; /* Use most of the width */
  max-width: 600px; /* Cap the max width */
  z-index: 1000; /* Keep it on top of other elements */
}

.global-page-recents,
.global-page-flashcards,
.global-page-decks {
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.global-page-create-flashcard-button,
.global-page-create-deck-button {
  background-color: rgb(12,102,228);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.global-page-create-flashcard-button:hover {
  background-color: rgb(1,85,204);
}

.breadcrumb-item {
  font-weight: bold;
  font-size: 18px; /* Adjust as needed */
}
